.about_me{
  
  .content_div{
    display: flex;
    justify-content: center;
    
    .grid_div{
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
      max-width: 1100px;

      .avatar {
        overflow: hidden;
        width: 40vw;
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
        // 動態載入效果
        opacity: 0;
        transform: translateX(-100px);
        transition: transform var(--animate_time) var(--animate_type), opacity var(--animate_time) var(--animate_type);
    
        .avatar_img {
          height: 70vh;
        }
      }
      .avatar_animate {
        opacity: 1;
        transform: translateX(0px);
      }
      
      .content{
        // 動態載入效果
        opacity: 0;
        transform: translateX(100px);
        transition: transform var(--animate_time) var(--animate_type), opacity var(--animate_time) var(--animate_type);

        p{
          color: var(--main-color);
          max-width: 400px;
          font-size: 1.2em;
          line-height: 1.5em;
          margin-bottom: 1.5em;
          margin-left: 15px;
          
        }
      }
      .content_animate {
        opacity: 1;
        transform: translateX(0px);
      }

      @media screen and (max-width:750px) {
        grid-template-columns: 1fr;
    
        .avatar {
          width: 50vw;
          min-width: 250px;
          max-width: 350px;
          height: 50vw;
          min-height: 250px;
          max-height: 350px;
          border-radius: 50%;
    
          .avatar_img {
            height: 500px;
            margin-top: -100px;
            margin-left: -20px;
          }
        }
      }
    }
  

  }

}