.contact{
  position: relative;
  .contact_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    
    .contact_card{
      // 動態載入效果
      opacity: 0;
      transform: translateY(-100px);
      transition: transform var(--animate_time) var(--animate_type), opacity var(--animate_time) var(--animate_type);

      .item {
        background-color: var(--light-blue-color);
        transition: background-color 1s ease, box-shadow 0.5s ease;
        width: 200px;
        height: 200px;
        margin: 20px;
        border-radius: 100%;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:hover {
          background-color: var(--light-orange-color);
          box-shadow: 6px 6px 12px 3px rgba(0, 0, 0, 0.5);
        }
        
        *{
          cursor: pointer;
        }
        .icon {
          width: 50px;
          height: 50px;
          
          path {
            fill: white;
          }
        }

        .item_title {
          font-size: 1.5em;
          line-height: 1.5em;
          margin-top: 15px;
          color: white;
        }
      }
    }

    .item_animate{
      opacity: 1;
      transform: translateY(0px);
    }
  }
}