  .homepage{
  color: var(--main-color);
  position: relative;
  // ---
  --animate_time: 2s;
  --animate_type: ease;

  section{
    min-height: 100vh;
    padding: 6vh;
    
    .title_div {
        margin-bottom: 50px;
    
        .title {
          font-size: 3.5em;
          color: var(--light-blue-color);
          text-align: center;
          // 動態載入效果
          opacity: 0;
          transform: translateY(-50px);
          transition: opacity var(--animate_time) var(--animate_type);
          transition: transform var(--animate_time) var(--animate_type);
        }
        .skill_title, .portfolio_title{
          color: white;
        }
    
        .title_animate {
          opacity: 1;
          transform: translateY(0px);
        }
      }
  }

}