.portfolio{
  // background-image: linear-gradient(to right bottom, rgba(125, 133, 144, 0.8), rgba(127, 134, 145, 0.8)), url("assets/images/laytop_work.jpg");
  // background-size: cover;
  // background-position: center;
  background-color: var(--light-blue-color);
  clip-path: polygon(0px 10%, 25% 0px, 100% 0px, 100% 90%, 75% 100%, 0px 100%);

  .title_div {
    margin-top: 50px;
  }

  .project{
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-template-rows: auto;
    grid-gap: 40px;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 100px;

    .project_item{
      max-width: 300px;
      background-color: rgba(255,255,255, 0.8);
      border-radius: 6px;
      padding: 15px;
      // 動態載入效果
        opacity: 0;
        transform: translateY(-100px);
        transition: opacity var(--animate_time) var(--animate_type);
        transition: transform var(--animate_time) var(--animate_type);
      
      .snapshot_div{
        position: relative;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .link{
          // display: block;
          position: absolute;
          width: 270px;
          height: 210px;
          z-index: 5;
          cursor: pointer;
        }
        .snapshot {
          display: absolute;
          width: 270px;
          height: 210px;
          cursor: pointer;
        }
        &::before {
          content: '';
          position: absolute;
          display: block;
          width: 270px;
          height: 0px;
          background-color: rgba(67, 83, 107, 0.7);
          z-index: 2;
          transition: height 0.5s ease;
          cursor: pointer;
        }
        &:hover::before {
          height: 210px;
        }
        &::after {
          content: 'Check it out';
          position: absolute;
          font-size: 1.4em;
          font-weight: 700;
          color: white;
          z-index: 3;
          opacity: 0;
          transition: opacity 0.5s ease;
          cursor: pointer;
        }
        &:hover::after {
          opacity: 1;
        }
      }
      
      .description{
        p{
          margin: 5px;
          line-height: 1.2em;
        }
        .title{
          font-size: 1.2em;
          font-weight: 800;
        }

        .tags_div{
          .tag{
            display: inline-block;
            background-color: var(--light-orange-color);
            color: white;
            margin: 5px;
            border-radius: 20px;
            padding: 6px 12px;
            text-align: center;
          }
        }
      }
    }

    .item_animate {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}