.contact {
  position: relative;
}
.contact .contact_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contact .contact_list .contact_card {
  opacity: 0;
  transform: translateY(-100px);
  transition: transform var(--animate_time) var(--animate_type), opacity var(--animate_time) var(--animate_type);
}
.contact .contact_list .contact_card .item {
  background-color: var(--light-blue-color);
  transition: background-color 1s ease, box-shadow 0.5s ease;
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.contact .contact_list .contact_card .item:hover {
  background-color: var(--light-orange-color);
  box-shadow: 6px 6px 12px 3px rgba(0, 0, 0, 0.5);
}
.contact .contact_list .contact_card .item .icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.contact .contact_list .contact_card .item .icon path {
  fill: white;
}
.contact .contact_list .contact_card .item .item_title {
  font-size: 1.5em;
  line-height: 1.5em;
  margin-top: 15px;
  color: white;
  cursor: pointer;
}
.contact .contact_list .item_animate {
  opacity: 1;
  transform: translateY(0px);
}