.homepage {
  color: var(--main-color);
  position: relative;
  --animate_time: 2s;
  --animate_type: ease;
}
.homepage section {
  position: relative;
  padding: 6vh;
}
.homepage section .title_div {
  margin-bottom: 50px;
}
.homepage section .title_div .title {
  font-size: 3.5em;
  color: var(--light-blue-color);
  text-align: center;
  opacity: 0;
  transform: translateY(-50px);
  transition: transform var(--animate_time) var(--animate_type), opacity var(--animate_time) var(--animate_type);
}
.homepage section .title_div .skill_title, .homepage section .title_div .portfolio_title {
  color: white;
}
.homepage section .title_div .title_animate {
  opacity: 1;
  transform: translateY(0px);
}
.homepage .scroll_btn_div {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.homepage .scroll_btn_div * {
  cursor: pointer;
}
.homepage .scroll_btn_div .scroll_btn {
  width: 50px;
  height: 50px;
  position: absolute;
  z-index: 2;
}
.homepage .scroll_btn_div .scroll_btn path {
  fill: var(--light-orange-color);
}
.homepage .scroll_btn_div .scroll_btn:hover {
  animation: beat 0.8s infinite;
}
.homepage .scroll_btn_div::after {
  content: "";
  background-color: white;
  z-index: 1;
  margin-top: 8px;
  padding: 17px 15px;
}
@keyframes beat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (max-width: 992px) {
  .homepage .scroll_btn_div {
    display: none;
  }
}